Bonus Question:

In [1]:
r1 = 8/2
r2 = 5/2

In [2]:
area1 = r1*r1*3.14
area2 = r2*r2*3.14*2

In [3]:
if area1>area2:
    print("Taking the deal is not beneficial because for the same price you can get a bigger Pizza")
else:
    print("Taking the deal is beneficial because for the same price I'm getting bigger Pizza")

Taking the deal is not beneficial because for the same price you can get a bigger Pizza

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

Task # 2

In [5]:
df = pd.read_csv("/home/abdullah/Downloads/iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [6]:
# Write a function that takes input from user and determines the input parameters belong which class (using Naïve assumptions)

def naive_bayes(x1,x2,x3,x4):

    mean1 = df[df['variety']=='Setosa'].mean()
    mean2 = df[df['variety']=='Versicolor'].mean()
    mean3 = df[df['variety']=='Virginica'].mean()

    std1 = df[df['variety']=='Setosa'].std()
    std2 = df[df['variety']=='Versicolor'].std()
    std3 = df[df['variety']=='Virginica'].std()

    p1 = stats.norm.pdf(x1,mean1[0],std1[0])*stats.norm.pdf(x2,mean1[1],std1[1])*stats.norm.pdf(x3,mean1[2],std1[2])*stats.norm.pdf(x4,mean1[3],std1[3])
    p2 = stats.norm.pdf(x1,mean2[0],std2[0])*stats.norm.pdf(x2,mean2[1],std2[1])*stats.norm.pdf(x3,mean2[2],std2[2])*stats.norm.pdf(x4,mean2[3],std2[3])
    p3 = stats.norm.pdf(x1,mean3[0],std3[0])*stats.norm.pdf(x2,mean3[1],std3[1])*stats.norm.pdf(x3,mean3[2],std3[2])*stats.norm.pdf(x4,mean3[3],std3[3])

    if p1>p2 and p1>p3:
        print("Class = Setosa")
    elif p2>p1 and p2>p3:
        print("Class = Versicolor")
    else:
        print("Class = Virginica")
        
naive_bayes(3.1,2.1,1.4,2.2)

Class = Versicolor

In [7]:
# Compare the above function with the inbuilt function of GaussianNB from sklearn

from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

X = df.iloc[:,:-1]
y = df.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

gnb = GaussianNB()
gnb.fit(X_train,y_train)

y_pred = gnb.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.96

Task # 01

In [8]:


totalBalls = 6+4+5
totalBalls

# Probability of drawing 3 white balls
white3ball = 6/totalBalls * 5/totalBalls * 4/totalBalls
print("Three white balls: ", white3ball)

# Probability of drawing 3 red balls
red3ball = 4/totalBalls * 3/totalBalls * 2/totalBalls
print("Three red balls: ", red3ball)

# Probability of drawing 3 blue balls
blue3ball = 5/totalBalls * 4/totalBalls * 3/totalBalls
print("Three blue balls: ", blue3ball)

# Probability of drawing 2 white and 1 red balls
white2red1ball = 6/totalBalls * 5/totalBalls * 4/totalBalls
print("Two white and one red balls: ", white2red1ball)

# Probability of drawing 2 white and 1 blue balls
white2blue1ball = 6/totalBalls * 5/totalBalls * 4/totalBalls
print("Two white and one blue balls: ", white2blue1ball)

# Probability of drawing 2 red and 1 white balls
red2white1ball = 4/totalBalls * 3/totalBalls * 2/totalBalls
print("Two red and one white balls: ", red2white1ball)

# Probability of drawing 2 red and 1 blue balls
red2blue1ball = 4/totalBalls * 3/totalBalls * 2/totalBalls
print("Two red and one blue balls: ", red2blue1ball)

# Probability of drawing 2 blue and 1 white balls
blue2white1ball = 5/totalBalls * 4/totalBalls * 3/totalBalls
print("Two blue and one white balls: ", blue2white1ball)

# Probability of drawing 2 blue and 1 red balls
blue2red1ball = 5/totalBalls * 4/totalBalls * 3/totalBalls
print("Two blue and one red balls: ", blue2red1ball)

# Probability of drawing 1 white, 1 red and 1 blue balls
white1red1blue1ball = 6/totalBalls * 5/totalBalls * 4/totalBalls
print("One white, one red and one blue balls: ", white1red1blue1ball)

# Probability of drawing 1 white, 1 red and 1 blue balls
red1white1blue1ball = 4/totalBalls * 3/totalBalls * 2/totalBalls
print("One red, one white and one blue balls: ", red1white1blue1ball)

print()
# Print the name of the color scheme with the highest probability
print("The optimal color scheme of the balls that you would propose in order to win the game is: ", "Three white balls, Two white and one red balls, Two white and one blue balls, One white, one red and one blue balls")

Three white balls:  0.035555555555555556
Three red balls:  0.0071111111111111115
Three blue balls:  0.017777777777777774
Two white and one red balls:  0.035555555555555556
Two white and one blue balls:  0.035555555555555556
Two red and one white balls:  0.0071111111111111115
Two red and one blue balls:  0.0071111111111111115
Two blue and one white balls:  0.017777777777777774
Two blue and one red balls:  0.017777777777777774
One white, one red and one blue balls:  0.035555555555555556
One red, one white and one blue balls:  0.0071111111111111115

The optimal color scheme of the balls that you would propose in order to win the game is:  Three white balls, Two white and one red balls, Two white and one blue balls, One white, one red and one blue balls

Task # 03

In [9]:
# Categorize the continuous values for iris dataset into 3 categories (low, medium, high)

df = pd.read_csv("/home/abdullah/Downloads/iris.csv")
df

df['sepal.length'] = pd.cut(df['sepal.length'], bins=[0, 5, 6, 7], labels=['low', 'medium', 'high'])
df['sepal.width'] = pd.cut(df['sepal.width'], bins=[0, 2, 3, 4], labels=['low', 'medium', 'high'])
df['petal.length'] = pd.cut(df['petal.length'], bins=[0, 2, 3, 6], labels=['low', 'medium', 'high'])
df['petal.width'] = pd.cut(df['petal.width'], bins=[0, 1, 2, 3], labels=['low', 'medium', 'high'])

df

    sepal.length sepal.width petal.length petal.width    variety
0         medium        high          low         low     Setosa
1            low      medium          low         low     Setosa
2            low        high          low         low     Setosa
3            low        high          low         low     Setosa
4            low        high          low         low     Setosa
..           ...         ...          ...         ...        ...
145         high      medium         high        high  Virginica
146         high      medium         high      medium  Virginica
147         high      medium         high      medium  Virginica
148         high        high         high        high  Virginica
149       medium      medium         high      medium  Virginica

[150 rows x 5 columns]

In [10]:
# apply the naive bayes algorithm to predict the class user will enter

def naive_bayes1(x1,x2,x3,x4):
    mean1 = df[df['variety']=='Setosa'].mean()
    mean2 = df[df['variety']=='Versicolor'].mean()
    mean3 = df[df['variety']=='Virginica'].mean()

    std1 = df[df['variety']=='Setosa'].std()
    std2 = df[df['variety']=='Versicolor'].std()
    std3 = df[df['variety']=='Virginica'].std()

    p1 = stats.norm.pdf(x1,mean1[0],std1[0])*stats.norm.pdf(x2,mean1[1],std1[1])*stats.norm.pdf(x3,mean1[2],std1[2])*stats.norm.pdf(x4,mean1[3],std1[3])
    p2 = stats.norm.pdf(x1,mean2[0],std2[0])*stats.norm.pdf(x2,mean2[1],std2[1])*stats.norm.pdf(x3,mean2[2],std2[2])*stats.norm.pdf(x4,mean2[3],std2[3])
    p3 = stats.norm.pdf(x1,mean3[0],std3[0])*stats.norm.pdf(x2,mean3[1],std3[1])*stats.norm.pdf(x3,mean3[2],std3[2])*stats.norm.pdf(x4,mean3[3],std3[3])

    if p1>p2 and p1>p3:
        print("Class = Setosa")
    elif p2>p1 and p2>p3:
        print("Class = Versicolor")
    else:
        print("Class = Virginica")